@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat {
  font-family: "Montserrat";
}

@layer utilities {
  .font-condensed {
    font-stretch: condensed;
  }
}

/* Hardcoded styles for DatePicker Component */
.react-datepicker {
  border: none !important;
  width: 350px !important;
}

.react-datepicker:nth-of-type(1) {
  width: 350px !important;
}

.react-datepicker__month-container {
  border: none !important;
  width: 350px !important;
}

div.react-datepicker-popper div.react-datepicker {
  border-color: #000000 !important;
  border: solid !important;
  border-width: 2px !important;
}

.react-datepicker__day {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.react-datepicker__header {
  background-color: white !important;
  border: none !important;
  width: 340px !important;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #aba4ea !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #6355d8 !important;
  color: #fff;
}

.react-datepicker__day-name {
  color: #6355d8 !important;
  font-weight: bold;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.react-datepicker__navigation--previous {
  top: 12px !important;
  left: 70% !important;
}

.react-datepicker__navigation--next {
  top: 12px !important;
  right: 0 !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: -9.5rem !important;
  color: #000;
  font-weight: bold;
  font-size: 1.3rem !important;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container input {
  border: solid #6355d8 1.5px !important;
  border-radius: 0.375rem !important;
  z-index: 0 !important;
  width: 100% !important;
}
